.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    margin-bottom: 20px;
    color: rgb(20, 16, 16);
    font-weight: 500;
    font-size: 50px;
}

.link {
    display: inline-block;
    transition: transform 250ms;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: rgb(163, 42, 42);
    font-size: 30px;
}

.link:hover {
    transform: scale(1.1);
    
}