.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    margin-bottom: 20px;
    color: rgb(250, 246, 246);
    font-weight: 500;
    font-size: 50px;
}

.link {
    display: inline-block;
    transition: transform 250ms;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: rgb(243, 247, 4);
    font-size: 30px;
}

.link:hover {
    transform: scale(1.1);
    color: rgb(55, 55, 165);
}